---
import Excerpt from '../components/Excerpt.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCanonicalEntries } from '../lib/content';

const recentEntries = getCanonicalEntries().slice(1).slice(-5).reverse();
---

<BaseLayout>
	<div class="feed-stack">
		{recentEntries.map((entry) => <Excerpt entry={entry} />)}
		<div>
			<a class="site-nav-link" href="/archives">View Older Posts</a>
		</div>
	</div>
</BaseLayout>
